::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

.component-selected {
    @apply relative;
}
.component-selected::after {
    content: ' ';
    @apply border-greenest border border-dashed w-full h-full absolute left-0 top-0 pointer-events-none block;
    box-sizing: border-box;
}

.small-scroll-bar::-webkit-scrollbar {
    width: 6px;
}
.small-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #767e87;
}
.small-scroll-bar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.15);
}

.ant-dropdown-menu {
    background-color: #495057 !important;
}
.ant-dropdown-menu a {
    color: #e9ecef !important;
}
.ant-dropdown-menu-item-divider {
    background-color: #e9ecef4f !important;
}
.ant-dropdown-menu-item:hover {
    background-color: #747f8b9c !important;
}

.ant-popover {
    padding-top: 0 ;
    top: 64px !important;
    left: unset !important;
    right: 16px !important;
}
.ant-popover-arrow {
    display: none !important;
}
.ant-popover-inner {
    background-color: #495057 !important;
}
.ant-popover-title {
    color: #e9ecef !important;
}
.ant-popover-inner-content {
    color: #e9ecef !important;
}

.ant-switch {
    background-color: #495057 !important;
}

.ant-switch-checked {
    background-color: #2d9d78 !important;
}

.main-content {
    min-height: calc(100vh - 64px) !important;
}

.modal-confirm .ant-modal-content {
    background: #343a40;
}
.modal-confirm .ant-modal-confirm-title {
    color: #e9ecef !important;
}